
/* stylování loga */
#center_logo {
    margin: 0;
    padding: 0;
    border: 0;
    position: bottom;
    flex-direction: row;
    display: flex;
    border-bottom: 4px solid #db2606;
}

header {
    color: #D7141A;
    border-radius: 5px;
    padding: 20px;
}



/* stylování navigačního menu */
nav {
	text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 50px;
    background-color: #11457E;
    border-radius: 5px;
	
}

nav a {
	padding: 0px 50px;
	background: #11457E;
	text-decoration: none;
	color: white;
	font-family: Verdana; 
}

nav a:hover {

    border-bottom: 1px solid white;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 0px;
    height: 100%;
}

nav ul li {
    padding: auto;
    margin: auto;
    font-size: 1em;
    line-height: 0em;
}

.aktivni {
    border-bottom: 1px solid #D7141A;
}

section {
    max-width: 960px; /* šírka části, ve které je text, je max 960px a text v části section se začne zalamovat */
    height: auto;
    text-align: center;
    padding: 25px 50px;
    margin: 50px;
    position: relative;
    background-color: white;
    border-radius: 5px;

}

/* patička */
footer {
    text-align: center;
    box-sizing: border-box;
    height: 30px;
    font-size: 10px;
    color: white;
    background: black;
    padding: 10px;
}
