<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="css_user/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="index_user.html">Trénikový deník</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                    aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i
                        class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Prázdné</a></li>
                    <li><a class="dropdown-item" href="#!">Prázdné</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="#!">Odhlásit</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core; Vymazat - nemám pro tuto část využití</div>
                        <a class="nav-link" href="index_user.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard; Vymazat - nemám pro tuto část využití
                        </a>
                        <div class="sb-sidenav-menu-heading">Interface</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                            data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Cíle
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="layout-static.html">Ragnarok standardy</a>
                                <a class="nav-link" href="layout-sidenav-light.html">Vlastní cíle - 3 políčka:
                                    definování cíle VARCHAR, datum stanovení, datum splnění - pokud je zadáno datum
                                    splnění, cíl se označí zeleně; jinak neutrální barvou</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                            aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Dokumentace pro soukromé tréninky (obsahuje diagnostiku, cíle, tréninkový plán a poznámky
                            trenéra k postupnému progresu/změnám v čase - včetně datumu)
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                    data-bs-target="#pagesCollapseAuth" aria-expanded="false"
                                    aria-controls="pagesCollapseAuth">
                                    Authentication
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                                    data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="login.html">Login</a>
                                        <a class="nav-link" href="register.html">Register</a>
                                        <a class="nav-link" href="password.html">Forgot Password</a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                    data-bs-target="#pagesCollapseError" aria-expanded="false"
                                    aria-controls="pagesCollapseError">
                                    Error
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"
                                    data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="401.html">401 Page</a>
                                        <a class="nav-link" href="404.html">404 Page</a>
                                        <a class="nav-link" href="500.html">500 Page</a>
                                    </nav>
                                </div>
                            </nav>
                        </div>
                        <div class="sb-sidenav-menu-heading">Výstupy</div>
                        <a class="nav-link" href="charts.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Grafy (přesměřuje na stránku, kde bude možnost:
                            1. vybrat PR na jednotlivé cviky (seznam nabídne jakýkoliv cvik, který má někde v tréninku)
                            2. vybrat nejvyšší nazvedaný součet kg za trénink
                            3. vybrat nazvedaná kg za volitelná období za cvik/za tréninky
                            4. vytvořit graf "line plot" progresu za volitelná odbobí za cvik/za tréninky (nazvedaná kg)
                            5. vytvořit graf "spider" zobrazující, kterých tréninků člověk kolik absolvoval (T, S, L, N)
                            6. vytvořit graf "connected scatter" typ "multiple series" zobrazující korelace souvislostí
                            cviků
                            7. vytvořit graf "spider" zobrazující, s jakou váhou člověk nejčastěji cvičí (rozdělit pro
                            KB a velkou činku)
                            *všude možnost volby za zadané období, trénink, případně celkově od počátku záznamů až po
                            záznam poslední
                            )
                        </a>
                        <a class="nav-link" href="tables.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Tabulky - vše, co umožňují grafy, jen převést do tabulek
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Přihlášený/á jako:</div>
                    Zde načíst jméno, které bylo zadáno jako přihlašovací
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Deník uživatele: </h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Obecný přehled výkonnosti a postupu</li>
                    </ol>
                    <div class="row">
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-primary text-white mb-4">
                                <div class="card-body">Standardy: kettlebell lifting</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Vymazat - nemám pro tuto část využití</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>-->
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-success text-white mb-4">
                                <div class="card-body">Standardy: síla a kondice</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Vymazat - nemám pro tuto část využití</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        Zde přes JS a její knihovny graf celkové nazvedané váhy v kg po měsících -
                                        aktuálně vždy daný rok od ledna
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        Zde přes JS a její knihovny graf absolvovaných T, S, L (rychlost) a jiných
                                        (nezařazen N) tréninků od začátku.
                                        Obsahuje taky doporučení, jak by měl graf správně vypadat pro ideální progres
                                        (tzn. nejméně těžkých a rychlostních)
                                        tréninků, nejvíce kondičních (středních) tréninků.
                                    </div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Zde tabulka všech zaznamenaných odjetých tréninků od nejstarších po nejnovější. Jeden
                                řádek = 1 tr. jednotka. Po rozkliknutí možnost úprav (váhy, odpočinků...).
                                1.Přidat tlačítko ZADÁNÍ AKTIVITY - TRÉNINKU (které umožní do databáze vložit novou
                                tabulku, kterou definuje sám uživatel a bude k ní mít přístup jen on a zařadí se do
                                seznamu dle data, které uživatel zadá).
                                Viz mooster v databázi, jaké mu umožním vkládat políčka (přičemž políčko jako "jméno" se
                                vyplní samo, "váha" se zadá jen
                                jednou apod.)
                                Použít: https://getbootstrap.com/docs/5.0/components/modal/#varying-modal-content
                                ...využít nápovědu názvů již zadaných cviků. Kvůli unilaterálním cvikům umožnit zadat
                                Levá x Pravá x Bilaterální provedení
                            </div>

                            <!--Tlačítko pro přidání nového tréninku; formulář-->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Vložit nový
                                trénink</button>

                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Nový trénink</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>

                                        <div class="modal-body">
                                            <!-- Formulář pro přidání dalšího řádku -->
                                            <form>
                                                <div id="input-container">
                                                    <div class="form-group" style="border: 2px solid black;">
                                                        <!--border around the "set of rows"-->
                                                        <input type="text" class="form-control" id="field1"
                                                            placeholder="Cvik (v případě unilaterality zaškrni níže pravá/levá strana)">
                                                        <!--levá x pravá paže-->
                                                          <div class="form-check">
                                                                  <label class="form-check-label">
                                                                          <input class="form-check-input"
                                                                    type="checkbox" value="">
                                                                          Pravá strana
                                                                      </label>
                                                              </div>
                                                          <div class="form-check">
                                                                  <label class="form-check-label">
                                                                          <input class="form-check-input"
                                                                    type="checkbox" value="">
                                                                          Levá strana
                                                                      </label>
                                                              </div>
                                                        <input type="text" class="form-control" id="field2"
                                                            placeholder="Počet sérií">
                                                        <input type="text" class="form-control" id="field3"
                                                            placeholder="Počet opakování">
                                                        <input type="text" class="form-control" id="field4"
                                                            placeholder="Použitá váha (kg)">
                                                        <input type="text" class="form-control" id="field5"
                                                            placeholder="Odpočinek (min)">
                                                        <input type="text" class="form-control" id="field6"
                                                            placeholder="Poznámky, např. pyramida, žebřík, set nebyl dokončen, ...">
                                                    </div>
                                                    <button type="button" class="btn btn-primary"
                                                        onclick="addNewRowSet()">Přidat další set řádků</button>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="modal-body">
                                            <form>
                                                <div class="mb-3">
                                                    <label for="message-text" class="col-form-label">Tělesná váha v
                                                        kg</label>
                                                    <textarea class="form-control" name="bodyWeight"
                                                        id="message-text"></textarea>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="message-text" class="col-form-label">Vnímané úsilí,
                                                        1-10; Pozn.: 1=nejmenší obtížnost</label>
                                                    <textarea class="form-control" name="effort"
                                                        id="message-text"></textarea>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="message-text" class="col-form-label">Typ tréninku:
                                                        T=těžký, S=střední/kondiční/technický,
                                                        L=lehký/deload/rychlostní, N=nezařazeno</label>
                                                    <textarea class="form-control" name="workoutDifficulty"
                                                        id="message-text"></textarea>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="message-text" class="col-form-label">Náplň tréninku:
                                                        KB=kettlebell lifting, SK=síla a kondice, J=jiný</label>
                                                    <textarea class="form-control" name="workoutType"
                                                        id="message-text"></textarea>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="message-text" class="col-form-label">Datum ve formátu dd.mm.rrrr
                                                        </label>
                                                    <textarea class="form-control" name="date"
                                                        id="message-text"></textarea>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Zavřít, nemazat data</button>
                                            <button type="button" class="btn btn-primary">Potvrdit a uložit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Datum</th>
                                            <th>Zaměření</th>
                                        </tr>
                                    </thead>
                                    <!--zde se bude zobrazovat seznam tréninků, akčním tlačítkem možno vybrat a upravit ve vyskakovacím okně-->
                                        <!--jeden <tr> = jeden trénik (datum=načíst datum z tabulky; zaměření = načíst KB/...). Práce s databází-->
                                    <tbody>
                                        <tr>
                                            <td>zde se načte datum</td>
                                            <td>zde se načte zaměření tréninku</td>
                                        </tr>
                                        <tr>
                                            <td>zde se načte datum</td>
                                            <td>zde se načte zaměření tréninku</td>
                                        </tr>
                                        <tr>
                                            <td>zde se načte datum</td>
                                            <td>zde se načte zaměření tréninku</td>
                                        </tr>
                                        <tr>
                                            <td>zde se načte datum</td>
                                            <td>zde se načte zaměření tréninku</td>
                                        </tr>
                                        <tr>
                                            <td>zde se načte datum</td>
                                            <td>zde se načte zaměření tréninku</td>
                                        </tr>
                                        <tr>
                                            <td>zde se načte datum</td>
                                            <td>zde se načte zaměření tréninku</td>
                                        </tr>
                                        <tr>
                                            <td>zde se načte datum</td>
                                            <td>zde se načte zaměření tréninku</td>
                                        </tr>
                                        <tr>
                                            <td>zde se načte datum</td>
                                            <td>zde se načte zaměření tréninku</td>
                                        </tr>
                                        <tr>
                                            <td>zde se načte datum</td>
                                            <td>zde se načte zaměření tréninku</td>
                                        </tr>
                                        <tr>
                                            <td>zde se načte datum</td>
                                            <td>zde se načte zaměření tréninku</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="js_user/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets_user/demo/chart-area-demo.js"></script>
    <script src="assets_user/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
    <script src="js_user/datatables-simple-demo.js"></script>

    <script>
        let rowCount = 1; // Počítadlo řádků sady, začínáme od 1

        function addNewRowSet() {
            const inputContainer = document.getElementById('input-container');
            const originalFormGroup = document.querySelector('.form-group');
            const newFormGroup = originalFormGroup.cloneNode(true);

            // Změna ID a placeholderů pro novou sadu řádků
            const inputs = newFormGroup.querySelectorAll('.form-control');
            inputs.forEach((input, index) => {
                input.id = `field${rowCount + index}`;
                input.placeholder; //zde nastaveno, aby placeholdery odpovídali vzoru
            });

            // Přidání nové třídy pro řádek
            newFormGroup.classList.add(`form-group${rowCount}`);

            rowCount = rowCount + 6; // Inkrementace počítadla řádků

            // Přidání nové sady řádků do kontejneru
            inputContainer.appendChild(newFormGroup);
        }
    </script>

</body>

</html>